body{
    width: 300px;
    height:350px ;
}


.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: rgba(248, 192, 87, 0.253);
    border-radius: 70px;
}

.card img {
border-top-left-radius: 70px;
border-top-right-radius:70px ;
width: 100%;
height: 700px;

}


.center h3{
    color: rgb(138, 78, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 0.1em;
    font-weight: 900;
    

}

.center p{
    color: rgb(138, 78, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-conteiner {
    height: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content:space-around;
    align-items: center;
    line-height: 0;
    color: rgb(138, 78, 0);
}

.prezzo p {
display: flex;
justify-content: end;   
    
}


.bottone  {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(138, 78, 0);
    border: 1px solid rgb(252, 172, 68) ;
    border-radius: 80px;
    background-color: rgb(250, 203, 141) ;
    cursor: pointer;
    width: 200px;
    margin-left: 50px;
}


